<!DOCTYPE html>

<html>
<head>
<title>Locus</title>
</head>

<body>
  <table id="mainlayout">
    <tr>
      <td>
        dingas
      </td>

      <td>
        bingas
      </td>
    </tr>
  </table>
</body>

</html>
