<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="facade.css"/>
  <title>Locus</title>
</head>

<body>
  <table id="layout-main">
    <tr>
      <td id="left-pane">
        <div id="facade-title">Locus</div>
        <div id="left-pane-content">
          <p>Have you ever been bored?
          <p>Then use this cool app!
        </div>
      </td>

      <td id="right-pane">
        bingas
      </td>
    </tr>
  </table>
</body>

</html>
