<html>
  <head>
    <link rel="stylesheet" type="text/css" href="globalstyle.css" />
    <title>Locus</title>
  </head>

  <body>
    <table style="width:100%">
      <tr>
        <td>Locus - <%= user.user.google.email %></td>
        <td align ="right">logout</td>
      </tr>
    </table>
