<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- SCRIPTS -->
		<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src = "/profile/profile.js"></script>
		
		<!-- STYLESHEETS -->		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link href = "/profile/profile.css" rel = "stylesheet" type = "text/css">
		
		<style>
		body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif; background-color: #f2f2f2;}
		</style>
		
	</head>
	
	
	
	<body>
		<div id = 'header-bar' class = "navbar-brand"> LOCUS - <%= user.user.google.email %> </div>
	
			<div id = 'main_container'>
				<div id = 'friend_bar' > 
					<ul id = "sidebar-list" class="nav nav-pills nav-stacked"></ul>
				</div>
				<div id = "addEvent" > 
					<div class="form-group">
						<label for="usr">Name:</label>
						<input type="text" class="form-control" id="name">
					</div>
					<div class="form-group">
						<label for="usr">Description:</label>
						<input type="text" class="form-control" id="description">
					</div>
					<div class="form-group">
						<label for="usr">Time Taken:</label>
						<input type="text" class="form-control" id="time">
					</div>
					
					<button type="button" id = "add_event" >Add Event</button>
				</div>
				<div id = "uploadCIFFiles"> </div>
				<div id = "currEvents" class = "row" >
					<div class = "col-md-4" id = "column0"> </div>
					<div class = "col-md-4" id = "column1"> </div>
					<div class = "col-md-4" id = "column2"> </div>						
				</div>
			</div>
				
				
			</div>

	</body>
	
	
  
</div>
</html>