
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'greatvibes';
  src: url('fonts/GreatVibes-Regular.ttf');
}

#layout-main {
  border-collapse: collapse;
  margin: 0px;
  height: 100%;
}

#left-pane {
  vertical-align: top;

  padding-left: 25px;
  padding-top: 150px;

  background-image: url('images/party-stock.jpeg');
  background-size: 200%;

  width: 800px;
}

#right-pane {
  min-width: 100%;
}

#facade-title {
  color: lightgrey;
  padding-left: 20px;

  text-align: left;
  font-size: 40pt;
  font-weight: bold;
  font-family: 'greatvibes';
  letter-spacing: 7px;
}

#left-pane-content {

  color: lightgrey;
}
